<form class="canal--contact-form" {% if contact_form.id %}id="{{ contact_form.id }}"{% endif %} action="{{ contact_form.action }}" method="{{ contact_form.method }}">
    <input type="hidden" name="action" value="submit">
    {% for name,field in contact_form.field %}
        {% if contact_form.id %}
            {% set tmp_name = 'contact_form['~contact_form.id~']['~name~']' %}
        {% else %}
            {% set tmp_name = 'contact_form['~name~']' %}
        {% endif %}

        {% include namespace ~ 'component/form/input-group.twig' with {
            'field': field,
            'name': tmp_name
        } %}
    {% endfor %}
    <button type="submit">{{ contact_form.button.label }}</button>
</form>