<ul>
    {% for link in list %}
        {% if link.link %}
            <li><a
                        href="{{ link.link }}"
                        {% if link.target %}target="{{ link.target }}"{% endif %}
                >{{ link.name }}</a></li>
        {% endif %}
    {% endfor %}
</ul>