{% if not child %}
<nav class="nav-header">
    {% endif %}

    <ul>
        {% for link in list %}
            {% if link.link %}
                <li class="{% if link.class %}{{ link.class }}{% endif %}"><a
                            href="{{ link.link }}"
                            {% if link.target %}target="{{ link.target }}"{% endif %}
                            {% if link.id %}id="{{ link.id }}"{% endif %}
                            class="{% if link.class %}link-{{ link.class }}{% endif %}{% if frontend.route.request.getUri() == link.link %} active{% endif %}"
                    >{{ link.name }}</a></li>
            {% else %}
                <li>
                    <button
                            class="{% for link in link.list %}{% if link.link %}{% if frontend.route.request.getUri() == link.link %} active{% endif %}{% endif %}{% endfor %}"
                    >{{ link.label }}</button>
                    {% include namespace ~ 'component/nav-header.twig' with {'list': link.list, 'child': true} %}
                </li>
            {% endif %}
        {% endfor %}
    </ul>

    {% if not child %}
</nav>
{% endif %}