{% include 'component/gdpr.twig' with {
    'gdpr': {
        'id': '500px--'~ img.id,
        'family': '500px',
        'type': 'img',
        'src': img.src
    }|merge(img.gdpr)
} %}

{#

<div class='pixels-photo'>
  <p>
    <img src='https://drscdn.500px.org/photo/55365754/m%3D900/v2?webp=true&sig=ec6988a576ea41a4f6dc1837337d965481a741ce07ffc4e91ed872c648987f7a' alt='Oryx, Namibia von Chris Schmid auf 500px.com'>
  </p>
  <a href='https://500px.com/photo/55365754/oryx-namibia-by-chris-schmid' alt='Oryx, Namibia von Chris Schmid auf 500px.com'></a>
</div>
<script type='text/javascript' src='https://500px.com/embed.js'></script>

#}