{% if pen.hash and pen.user %}

    {% include 'component/gdpr.twig' with {
        'gdpr': {
            'id': 'codepen--'~ pen.id,
            'family':'codepen',
            'type': 'pen',
            'attr': {
                'data-theme-id': '0',
                'data-height': '265',
                'data-default-tab': 'result',
                'data-embed-version': '2',
                'data-slug-hash': pen.hash,
                'data-user': pen.user,
            },
            'src': pen.hash ~ pen.user,
        }|merge(pen.gdpr)
    } %}

{% endif %}

{#
<p data-height="268" data-theme-id="0" data-slug-hash="ClnAe" data-user="afkatja" data-default-tab="result" class='codepen'>See the Pen <a href='http://codepen.io/chriscoyier/pen/ClnAe'>ClnAe</a> by Katja Hollar (<a href='http://codepen.io/afkatja'>@afkatja</a>) on <a href='http://codepen.io'>CodePen</a></p>

http://codepen.io/chriscoyier/embed/gfdDu

<p data-height="265" data-theme-id="0" data-slug-hash="PNaGbb" data-default-tab="js,result" data-user="codepen" data-embed-version="2" data-pen-title="Example Editable Embed" class="codepen">See the Pen <a href="https://codepen.io/team/codepen/pen/PNaGbb/">Example Editable Embed</a> by CodePen (<a href="https://codepen.io/codepen">@codepen</a>) on <a href="https://codepen.io">CodePen</a>.</p>

<script async src="https://static.codepen.io/assets/embed/ei.js"></script>

__CPEmbed in window
#}