{% if art.gdpr['data-attr'].width %}
    {% set width= art.gdpr['data-attr'].width %}
{% else %}
    {# comparing embed, 250 seems to be needed as minimum width for no-scroll #}
    {#{% if 'podcast' == art.type %}
            {# only podcast needs this much width #
            {% set width= '380' %}
        {% else %}#}
    {% set width= '260' %}
    {#{% endif %}#}
{% endif %}

{% if art.gdpr['data-attr'].height %}
    {% set height= art.gdpr['data-attr'].height %}
{% else %}
    {% set height= '250' %}
{% endif %}
{% set src= 'https://www.deezer.com/plugins/player?format=classic&autoplay=true&color=007FEB&layout=dark&width='~ width ~'&height='~ height ~'&medium&playlist=true' %}

{% if 'charts' == art.type %}
{% endif %}

{% if 'playlist' == art.type %}
    {% set src= src ~ '&type=playlist&id=' ~ art.src %}
{% elseif 'album' == art.type %}
    {% set src= src ~ '&type=album&id=' ~ art.src %}
{% elseif 'track' == art.type %}
    {% set src= src ~ '&type=tracks&id=' ~ art.src %}
{% elseif 'podcast' == art.type %}
    {% set src= src ~ '&type=podcast&id=' ~ art.src %}
{% elseif 'episodes' == art.type %}
    {% set src= src ~ '&type=episodes&id=' ~ art.src %}
{% elseif 'mix' == art.type %}
    {% set src= src ~ '&type=mix&id=' ~ art.src %}
{% elseif 'artist' == art.type %}
    {% set src= src ~ '&type=radio&id=' ~ art.src %}
{% elseif 'charts' == art.type %}
    {% set src= src ~ '&type=charts&id=' ~ art.src %}
{% endif %}

{% include 'component/gdpr.twig' with {
    'gdpr': {
        'id': 'deezer--' ~ art.type ~ '--' ~ art.id,
        'family': 'deezer',
        'type': art.type,
        'src': src,
        'data-attr': {
            'width': width,
            'height': height,
        }
    }|merge(art.gdpr)
} %}

{#
Playlist

Album
type=album&id=119606

Track
type=tracks&id=3135556

Podcast
type=podcast&id=49401

Episodes
type=episodes&id=1016697

Mix
type=radio&id=radio-37635

Artist
type=radio&id=artist-27

Charts
type=charts&id=0&title=All
#}