{% include 'component/gdpr.twig' with {
    'gdpr': {
        'id': 'facebook--post--'~ (post.id|url_encode),
        'family': 'facebook',
        'type': 'post',
        'src': 'https://www.facebook.com/' ~ post.id ~ '/',
    }|merge(post.gdpr)
} %}

{#
<div class="fb-post" data-href="https://www.facebook.com/20531316728/posts/10154009990506729/" data-width="500" data-show-text="true">
    <blockquote cite="https://www.facebook.com/20531316728/posts/10154009990506729/" class="fb-xfbml-parse-ignore">
        Posted by <a href="https://www.facebook.com/facebook/">Facebook</a>
        on&nbsp;<a href="https://www.facebook.com/20531316728/posts/10154009990506729/">Thursday, August 27, 2015</a>
    </blockquote>
</div>
#}