{% if fake.transform %}
    {% set transform= fake.transform %}
{% else %}
    {% set transform= '' %}
{% endif %}

{% include 'component/gdpr.twig' with {
    'gdpr': {
        'id': 'fake-embed--'~ fake.id,
        'family':'fake-embed',
        'type': 'fake',
        'src': fake.src,
        'transform': transform
    }|merge(fake.gdpr)
} %}

{#
 Handle Any File/Embed Iframe as Mocking Embed
#}