{% include 'component/gdpr.twig' with {
    'gdpr': {
        'id': 'giphy--'~ gif.id,
        'family': 'giphy',
        'type': 'gif',
        'src': 'https://giphy.com/embed/'~ gif.src,
    }|merge(gif.gdpr)
} %}

{#
    <div style="width:100%;height:0;padding-bottom:100%;position:relative;">
        <iframe src="https://giphy.com/embed/3o7bu8sRnYpTOG1p8k" width="100%" height="100%" style="position:absolute" frameBorder="0" class="giphy-embed" allowFullScreen></iframe>
    </div>
    <p><a href="">via GIPHY</a></p>
#}