{% include 'component/gdpr.twig' with {
    'gdpr': {
        'id': 'github--'~ gist.id,
        'family': 'github',
        'type': 'gist',
        'src': gist.src,
    }|merge(gist.gdpr)
} %}

{#
<script src="https://gist.github.com/metatribal/6259775.js"></script>
#}