{% if 'api' == google_maps.type %}
    {% set map_src = 'https://www.google.com/maps/embed/v1/place?key=' ~ google_maps.api_key ~ '&q=' ~ google_maps.query %}
{% elseif 'embed' == google_maps.type %}
    {% set map_src = 'https://www.google.com/maps/embed?pb=' ~ google_maps.embed %}
{% endif %}


{% if map_src %}
    {% include namespace ~ 'component/gdpr.twig' with {
        'gdpr': {
            'id': 'google-maps--'~ google_maps.id,
            'family': 'google-maps',
            'type': 'google-maps',
            'src': map_src,
        }|merge(google_maps.gdpr)
    } %}
{% endif %}