{% include 'component/gdpr.twig' with {
    'gdpr': {
        'id': 'jsfiddle--'~ fiddle.id,
        'family': 'jsfiddle',
        'type': 'fiddle',
        'src': 'https://jsfiddle.net/'~ fiddle.src ~'/embedded/',
    }|merge(fiddle.gdpr)
} %}

{#
<iframe
  style="width: 100%; height: 300px"
  src="http://jsfiddle.net/zalun/NmudS/embedded/">
</iframe>
#}