{% if file.short_src %}
    {% set src= 'https://onedrive.live.com/embed?'~ file.short_src ~'&em=2&wdAr=1.7777777777777777&wdEaa=1' %}
{% else %}
    {% set src= file.src %}
{% endif %}
{% include 'component/gdpr.twig' with {
    'gdpr': {
        'id': 'office365--'~ file.id,
        'family': 'office365',
        'type': 'file',
        'src': src,
        'transform': 'iframe'
    }|merge(file.gdpr)
} %}

{#

<iframe src="https://onedrive.live.com/embed?cid=6EDAE42F55585FB2&amp;resid=6EDAE42F55585FB2%21142584&amp;em=2&amp;wdAr=1.7777777777777777&amp;wdEaa=1" frameborder="0"></iframe>

#}