{% if pin %}
    {% set type = 'pin' %}
    {% set item = pin %}
    {% set src = 'https://www.pinterest.com/pin/'~ item.src %}
{% endif %}

{% if board %}
    {% set type = 'board' %}
    {% set item = board %}
    {% set src = 'https://www.pinterest.com/'~ item.src ~'/' %}
{% endif %}

{% if profile %}
    {% set type = 'profile' %}
    {% set item = profile %}
    {% set src = 'https://www.pinterest.com/'~ item.src ~'/' %}
{% endif %}

{% if type %}
    {% include 'component/gdpr.twig' with {
        'gdpr': {
            'id': 'pinterest--'~ type ~'--'~ item.id,
            'family': 'pinterest',
            'type': type,
            'src': src,
        }|merge(item.gdpr)
    } %}
{% endif %}

{#
<iframe
  style="width: 100%; height: 300px"
  src="http://jsfiddle.net/zalun/NmudS/embedded/">
</iframe>
#}