{% include 'component/gdpr.twig' with {
    'gdpr': {
        'id': 'sassmeister--'~ gist.id,
        'family': 'sassmeister',
        'type': 'gist',
        'src': 'https://embed.sassmeister.com/gist/'~ gist.src,
    }|merge(gist.gdpr)

} %}

{#
https://www.sassmeister.com/gist/c0b32bf4485b6e72a40e65d88f489e2b

https://embed.sassmeister.com/gist/b7e310595d9f7221c6514cdd3ef9e579

#}