{% set src= 'https://open.spotify.com/embed?uri=' ~ art.src %}

{% include 'component/gdpr.twig' with {
    'gdpr': {
        'id': 'spotify--'~ art.id,
        'family': 'spotify',
        'type': 'spotify',
        'src': src,
        'transform': 'iframe'
    }|merge(art.gdpr)
} %}

{#
<iframe src="https://open.spotify.com/embed?uri=spotify:album:1DFixLWuPkv3KT3TnV35m3" width="300" height="380" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
#}