{% include 'component/gdpr.twig' with {
    'gdpr': {
        'id': 'tumblr--'~ post.id,
        'family': 'tumblr',
        'type': 'post',
        'src': 'https://embed.tumblr.com/embed/post/'~ post.src,
        'attr': {
            'data-did': post.did
        },
    }|merge(post.gdpr)
} %}

{#
   <div
        class="tumblr-post"
        data-href="https://embed.tumblr.com/embed/post/r_BTLFg8QzTPUMVSbe3vbg/107419673555"
        data-did="91445e02b350cbe0cb0c613fc0dc0d40c92f484a">
        <a href="https://staff.tumblr.com/post/107419673555/look-at-that-gif-up-above-thats-a-post">https://staff.tumblr.com/post/107419673555/look-at-that-gif-up-above-thats-a-post</a>
   </div>

    <script async src="https://assets.tumblr.com/post.js"></script>
#}