{% include 'component/gdpr.twig' with {
    'gdpr': {
        'id': 'twitter--tweet--'~ tweet.id,
        'family': 'twitter',
        'type': 'tweet',
        'src': tweet.id,
    }|merge(tweet.gdpr)
} %}

{#
<blockquote class="twitter-tweet" data-lang="de"><p lang="en" dir="ltr">hometown hills on a sunny <a href="https://twitter.com/hashtag/summer?src=hash&amp;ref_src=twsrc%5Etfw">#summer</a> day during a little <a href="https://twitter.com/hashtag/hike?src=hash&amp;ref_src=twsrc%5Etfw">#hike</a> <a href="https://twitter.com/hashtag/AfterWork?src=hash&amp;ref_src=twsrc%5Etfw">#AfterWork</a> <a href="http://t.co/Ek3gueYNYw">pic.twitter.com/Ek3gueYNYw</a></p>&mdash; Michael Becker (@elbakerino) <a href="https://twitter.com/elbakerino/status/615656554814156801?ref_src=twsrc%5Etfw">29. Juni 2015</a></blockquote>

<script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
#}