{% include 'component/gdpr.twig' with {
    'gdpr': {
        'id': 'twitter-tl--'~ profile.id,
        'family': 'twitter',
        'type': 'timeline',
        'src': profile.id,
    }|merge(profile.gdpr)
} %}

{#
<a class="twitter-timeline" href="https://twitter.com/FlyRound?ref_src=twsrc%5Etfw">Tweets by FlyRound</a>

<script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
#}