{% set src= 'https://player.vimeo.com/video/' ~ vid.src %}

{% include 'component/gdpr.twig' with {
    'gdpr': {
        'id': 'vimeo--'~ vid.id,
        'family': 'vimeo',
        'type': 'vid',
        'src': src,
        'transform': 'iframe'
    }|merge(vid.gdpr)
} %}

{#

<iframe src="https://player.vimeo.com/video/2243033?autoplay=1&loop=1" style="position:absolute;top:0;left:0;width:100%;height:100%;" ></iframe>

#}