{% if vid.advanced_privacy %}
    {% set src= 'https://www.youtube-nocookie.com/embed/' ~ vid.src %}
{% else %}
    {% set src= 'https://www.youtube.com/embed/' ~ vid.src %}
{% endif %}

{% include namespace ~ 'component/gdpr.twig' with {
    'gdpr': {
        'id': 'youtube--'~ vid.id,
        'family': 'youtube',
        'type': 'vid',
        'src': src,
        'transform': 'iframe'
    }|merge(vid.gdpr)
} %}

{#
<iframe width="560" height="315" src="https://www.youtube-nocookie.com/embed/pP9jw3fgrCU" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>

<iframe width="560" height="315" src="https://www.youtube.com/embed/pP9jw3fgrCU" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
#}