{% if field.type in [
    'text', 'email', 'tel', 'number',
    'checkbox',
    'hidden'
] %}
    <input
            type="{{ field.type }}"
            id="{{ name }}"
            name="{{ name }}"
            {% if field.place %}placeholder="{{ field.place }}"{% endif %}
            {% if field.req %}{{ field.req }}{% endif %}>
{% elseif 'textarea' == field.type %}
    <textarea
            id="{{ name }}"
            name="{{ name }}"
            {% if field.place %}placeholder="{{ field.place }}"{% endif %}
            {% if field.req %}{{ field.req }}{% endif %}></textarea>
{% endif %}