<div class="input-group input-group--{{ field.type }}">

    {% if 'before' == field.input_position or 'after' == field.input_position %}
        {# only valid pos #}
        {% set pos = field.input_position %}
    {% else %}
        {# fallback for not valid pos, or not set position #}
        {% set pos = 'after' %}
    {% endif %}

    {% if 'before' == pos %}
        {% include namespace ~ 'component/form/input.twig' with {
            'field': field,
            'name': name
        } %}
    {% endif %}

    {% if field.label %}
        {% include namespace ~ 'component/form/label.twig' with {
            'label': field.label,
            'name': name
        } %}
    {% endif %}

    {% if 'after' == pos %}
        {% include namespace ~ 'component/form/input.twig' with {
            'field': field,
            'name': name
        } %}
    {% endif %}
</div>

{#
    Example of usage to get a new input group at e.g. a contact form

    {% include namespace ~ 'component/form/input-group.twig' with {
        'field': {
            'type': 'text',
            'place': 'Name',
            'req': 'required'
        },
        'name': 'contact_form[' ~ contact_form.id ~ '][' ~ name ~ ']'
    } %}

    Bigger example with fields for a whole form:

    {% set field_list = {
        'name': {
            'type': 'text',
            'place': 'Name',
            'req': 'required'
        },
        'email': {
            'type': 'email',
            'place': 'E-Mail',
            'req': 'required'
        },
        'tel': {
            'type': 'tel',
            'place': 'Phone',
            'req': 'required'
        },
        'msg': {
            'type': 'textarea',
            'place': 'Your Message',
            'req': 'required'
        },
        'privacy': {
            'type': 'checkbox',
            'label': 'I accept the <a href="'~ url.generator.generate('law', {'page': 'privacy'}) ~'" target="_blank">privacy policy</a>.',
            'req': 'required'
        }
    }, %}

    {% set name = 'contact_form[' ~ contact_form.id ~ '][' ~ name ~ ']' %}

    {% for name,field in field_list %}
        {% include namespace ~ 'component/form/input-group.twig' with {
            'field': field
            'name': name
        } %}
    {% endfor %}
#}