{#
    `gdpr_setting` is normally set from backend, contains global gdpr config
#}
{% if gdpr_setting %}
    {# overwrite the global settings, when existing, with from a template file pushed data #}
    {% set gdpr = gdpr_setting.computeGlobal(gdpr.family, gdpr) %}
{% endif %}

{% if gdpr.css_namespace %}
    {% set css_namespace = gdpr.css_namespace %}
{% else %}
    {% set css_namespace = 'gdpr' %}
{% endif %}

<div
        class="{{ css_namespace }} {{ css_namespace }}--wrapper{% if gdpr.border %} w-border{% endif %}{% if gdpr.preview.img.bg %} w-preview--as-bg{% elseif gdpr.preview.img and gdpr.preview.img.bg != true %} w-preview--as-img{% endif %}{% if gdpr.preview.html %} w-preview--as-html{% endif %}"
        data-src="{{ gdpr.src }}"
        data-content=".{{ css_namespace }}--content"
        data-family="{{ gdpr.family }}"
        data-type="{{ gdpr.type }}"
        data-transform="{{ gdpr.transform }}"
        {% if gdpr['data-attr'] %}
            {% for name,value in gdpr['data-attr'] %}
                {% if name matches '/^\\d+$/' %}
                    {# when the name is numeric it is just a value#}
                    data-attr-{{ loop.index }}="{{ value }}"
                {% else %}
                    data-attr-{{ loop.index }}="{{ name }}|{{ value }}"
                {% endif %}
            {% endfor %}
        {% endif %}
        {% if gdpr.attr %}
            {% for name,value in gdpr.attr %}
                {% if name matches '/^\\d+$/' %}
                    {# when the name is numeric it is just a value #}
                    {{ value }}=""
                {% else %}
                    {{ name }}="{{ value }}"
                {% endif %}
            {% endfor %}
        {% endif %}
    >

    <div class="{{ css_namespace }}--content">

    </div>

    {% if gdpr.preview %}
        <div class="{{ css_namespace }}--preview{% if gdpr.preview.img.bg %} as-bg{% elseif gdpr.preview.img and gdpr.preview.img.bg != true %} as-img{% endif %}{% if gdpr.preview.html %} as-html{% endif %}">
            {# modifier classes to tell if image of background style #}
            {% if gdpr.preview.img.bg %}
                {% spaceless %}
                <div
                    class="{{ css_namespace }}--preview--image {{ css_namespace }}--preview--image-bg"
                    style="background-image:url({{ gdpr.preview.img.src }});">
                </div>
                {% endspaceless %}
            {% endif %}

            {% if gdpr.preview.img and gdpr.preview.img.bg != true %}
                {% spaceless %}
                <img
                    class="{{ css_namespace }}--preview--image {{ css_namespace }}--preview--image-img"
                    src="{{ gdpr.preview.img.src }}"
                    {% if gdpr.preview.img.alt %}alt="{{ gdpr.preview.img.alt }}"{% endif %}
                />
                {% endspaceless %}
            {% endif %}

            {% if gdpr.preview.html %}
                <div class="{{ css_namespace }}--preview--html">
                    {{ gdpr.preview.html|raw }}
                </div>
            {% endif %}
        </div>
    {% endif %}

    {% if gdpr.prerender %}
        {% if gdpr.barrier %}
            <div class="{{ css_namespace }}--barrier">
                {% if gdpr.barrier.label %}
                    {% set label = '<p class="'~ css_namespace ~'--barrier--label">'~ gdpr.barrier.label.value|raw ~'</p>' %}
                {% endif %}

                {% if gdpr.icon %}
                    <span class="{{ css_namespace }}--barrier--icon"></span>
                {% endif %}

                <form>

                    {% if label and 'before-check' == gdpr.barrier.label.position %}{{ label|raw }}{% endif %}

                    {% if gdpr.barrier.check %}
                        {% if gdpr.id %}
                            {% set name = css_namespace ~ '-check[' ~ gdpr.id ~ ']' %}
                        {% else %}
                            {% set name = css_namespace ~ '-check' %}
                        {% endif %}

                        {% include namespace ~ 'component/form/input-group.twig' with {
                            'field': gdpr.barrier.check,
                            'name': name
                        } %}
                    {% endif %}

                    {% if label and 'before-btn' == gdpr.barrier.label.position %}{{ label|raw }}{% endif %}

                    <button>{{ gdpr.barrier.btn|raw }}</button>

                    {% if label and 'on-end' == gdpr.barrier.label.position %}{{ label|raw }}{% endif %}
                </form>
            </div>
        {% endif %}

        {% if gdpr.loading %}
            <div class="{{ css_namespace }}--loading">
                <div class="{{ css_namespace }}--loading--inner"><span></span><span></span><span></span></div>
                {% if gdpr.loading.label %}
                    <p class="{{ css_namespace }}--loading--label">{{ gdpr.loading.label }}</p>
                {% endif %}
            </div>
        {% endif %}

        {% if gdpr.usr_link.href %}
            <div class="{{ css_namespace }}--default">
                {% if gdpr.icon %}
                    <img src="{{ gdpr.icon.src }}" alt="{{ gdpr.icon.alt }}">
                {% endif %}
                <span>
                    <a href="{{ gdpr.usr_link.href }}" target="_blank" {% if gdpr.usr_link.nofollow %}rel="nofollow"{% endif %}>{{ gdpr.usr_link.txt }}</a>
                </span>
            </div>
        {% endif %}
    {% endif %}
</div>