<!DOCTYPE html>
<html{% if meta.lang %} lang="{{ meta.lang }}"{% endif %}>
<head>
    {% block head %}
        {% block head_begin %}{% endblock %}

        {% block head_meta %}
            <meta charset="UTF-8"/>

            {% if head.title %}<title>{{ head.title }}</title>{% endif %}
            {% if head.author %}
                <meta name="author" content="{{ head.author }}"/>
            {% endif %}
            {% if meta.description %}
                <meta name="description" content="{{ meta.description }}">
            {% endif %}
            {% if meta.keywords %}
                <meta name="keywords" content="{{ meta.keywords }}">
            {% endif %}
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
        {% endblock %}

        {% block head_misc %}{% endblock %}

        {% block head_style %}
            <link href="{{ url.asset }}style{% if false == frontend.debug %}.min{% endif %}.css" rel="stylesheet" type="text/css"/>
            {% if head.font %}
                <link href="{{ head.font }}" rel="stylesheet">
            {% endif %}
        {% endblock %}

        {% block head_js %}
        {% endblock %}

        {% block head_end %}{% endblock %}
    {% endblock %}
</head>

{% block body %}
    <body class="body{% if body.class %} {{ body.class|join(' ') }}{% endif %}"{% if meta.lang %} lang="{{ meta.lang }}"{% endif %}{% if body.attr %} {{ body.attr|join(' ') }}{% endif %}>

    {% block body_begin_raw %}
        <div class="body-begin">
            {% block body_begin %}{% endblock %}
        </div>
    {% endblock %}

    {% block container_outer %}
        <div class="container--outer">

            {% block header_raw %}
                <div class="header">
                    {% block header %}

                        {% block header_inner_raw %}
                            <header class="header--inner">
                                {% block header_inner %}{% endblock %}
                            </header>
                        {% endblock %}

                    {% endblock %}
                </div>
            {% endblock %}

            {% block container_inner_raw %}
                <section class="container--inner">
                    {% block container_inner %}

                        {% block sidebar_left_raw %}
                            <div class="sidebar left">
                                {% block sidebar_left %}

                                    {% block sidebar_left_inner_raw %}
                                        <div class="sidebar-left--inner">
                                            {% block sidebar_left_inner %}

                                                {% block sidebar_left_begin %}{% endblock %}
                                                {% block sidebar_left_main %}{% endblock %}
                                                {% block sidebar_left_end %}{% endblock %}

                                            {% endblock %}
                                        </div>
                                    {% endblock %}

                                {% endblock %}
                            </div>
                        {% endblock %}

                        {% block content_raw %}
                            <div class="content">
                                {% block content %}

                                    {% block content_begin_raw %}
                                        <section class="content--begin">
                                            {% block content_begin %}

                                                {% block content_begin_inner_raw %}
                                                    <div class="content--begin--inner">
                                                        {% block content_begin_inner %}{% endblock %}
                                                    </div>
                                                {% endblock %}

                                            {% endblock %}
                                        </section>
                                    {% endblock %}

                                    {% block content_main_raw %}
                                        <main class="content--main">
                                            {% block content_main %}

                                                {% block content_main_inner_raw %}
                                                    <div class="content--main--inner">
                                                        {% block content_main_inner %}{% endblock %}
                                                    </div>
                                                {% endblock %}

                                            {% endblock %}
                                        </main>
                                    {% endblock %}

                                    {% block content_end_raw %}
                                        <end class="content--end">
                                            {% block content_end %}

                                                {% block content_end_inner_raw %}
                                                    <div class="content--end--inner">
                                                        {% block content_end_inner %}{% endblock %}
                                                    </div>
                                                {% endblock %}

                                            {% endblock %}
                                        </end>
                                    {% endblock %}

                                {% endblock %}
                            </div>
                        {% endblock %}

                        {% block sidebar_right_raw %}
                            <div class="sidebar right">
                                {% block sidebar_right %}

                                    {% block sidebar_right_inner_raw %}
                                        <div class="sidebar-right--inner">
                                            {% block sidebar_right_inner %}

                                                {% block sidebar_right_begin %}{% endblock %}
                                                {% block sidebar_right_main %}{% endblock %}
                                                {% block sidebar_right_end %}{% endblock %}

                                            {% endblock %}
                                        </div>
                                    {% endblock %}

                                {% endblock %}
                            </div>
                        {% endblock %}

                    {% endblock %}
                </section>
            {% endblock %}

            {% block footer_raw %}
                <div class="footer">
                    {% block footer %}

                        {% block footer_main_raw %}
                            <footer class="footer--main">
                                {% block footer_main %}

                                    {% block footer_main_inner_raw %}
                                        <div class="footer--main--inner">
                                            {% block footer_main_inner %}{% endblock %}
                                        </div>
                                    {% endblock %}

                                {% endblock %}
                            </footer>
                        {% endblock %}

                        {% block footer_end_raw %}
                            <div class="footer--end">
                                {% block footer_end %}

                                    {% block footer_end_inner_raw %}
                                        <div class="footer--end--inner">
                                            {% block footer_end_inner %}{% endblock %}
                                        </div>
                                    {% endblock %}

                                {% endblock %}
                            </div>
                        {% endblock %}

                    {% endblock %}
                </div>
            {% endblock %}

        </div>
    {% endblock %}

    {% block body_end_raw %}
        <div class="body-end">
            {% block body_end %}{% endblock %}
        </div>
    {% endblock %}

    {% block foot_js %}{% endblock %}

    </body>
{% endblock %}
</html>