{% extends namespace ~ 'default.twig' %}

{% block body_begin %}{% endblock %}
{% block header_raw %}{% endblock %}

{% block sidebar_left_raw %}{% endblock %}

{% block content_begin_inner %}
    {% include namespace ~ 'layout/content-begin.twig' ignore missing %}
{% endblock %}
{% block content_main_inner %}
    {% include namespace ~ 'layout/content-main.twig' ignore missing %}
{% endblock %}
{% block content_end_inner %}
    {% include namespace ~ 'layout/content-end.twig' ignore missing %}
{% endblock %}

{% block sidebar_right_raw %}{% endblock %}

{% block footer_raw %}{% endblock %}

{% block body_end %}{% endblock %}