{% extends namespace ~ 'default.twig' %}

{% block sidebar_left_begin %}
    {% include namespace ~ 'layout/sidebar-left-begin.twig' ignore missing %}
{% endblock %}
{% block sidebar_left_main %}
    {% include namespace ~ 'layout/sidebar-left-main.twig' ignore missing %}
{% endblock %}
{% block sidebar_left_end %}
    {% include namespace ~ 'layout/sidebar-left-end.twig' ignore missing %}
{% endblock %}

{% block content_begin_inner %}
    {% include namespace ~ 'layout/content-begin.twig' ignore missing %}
{% endblock %}
{% block content_main_inner %}
    {% include namespace ~ 'layout/content-main.twig' ignore missing %}
{% endblock %}
{% block content_end_inner %}
    {% include namespace ~ 'layout/content-end.twig' ignore missing %}
{% endblock %}

{% block sidebar_right_raw %}{% endblock %}