{% extends namespace ~ 'default.twig' %}

{% block sidebar_left_raw %}{% endblock %}

{% block content_begin_inner %}
    {% include namespace ~ 'layout/content-begin.twig' ignore missing %}
{% endblock %}
{% block content_main_inner %}
    {% include namespace ~ 'layout/content-main.twig' ignore missing %}
{% endblock %}
{% block content_end_inner %}
    {% include namespace ~ 'layout/content-end.twig' ignore missing %}
{% endblock %}

{% block sidebar_right_begin %}
    {% include namespace ~ 'layout/sidebar-right-begin.twig' ignore missing %}
{% endblock %}
{% block sidebar_right_main %}
    {% include namespace ~ 'layout/sidebar-right-main.twig' ignore missing %}
{% endblock %}
{% block sidebar_right_end %}
    {% include namespace ~ 'layout/sidebar-right-end.twig' ignore missing %}
{% endblock %}