{% extends namespace ~ 'base.twig' %}

{% block head_begin %}
    {{ parent() }}
{% endblock %}

{% block head_meta %}
    {{ parent() }}
{% endblock %}

{% block head_misc %}
    {{ parent() }}
{% endblock %}

{% block head_style %}
    {{ parent() }}
{% endblock %}

{% block head_js %}
    {{ parent() }}
{% endblock %}

{% block head_end %}
    {{ parent() }}
{% endblock %}

{% block foot_js %}
    {{ parent() }}
{% endblock %}


{% block body_begin %}
    {% include namespace ~ 'layout/body-begin.twig' ignore missing %}
{% endblock %}

{% block header_inner %}
    {% include namespace ~ 'layout/header.twig' ignore missing %}
{% endblock %}

{% block footer_main_inner %}
    {% include namespace ~ 'layout/footer-main.twig' ignore missing %}
{% endblock %}

{% block footer_end_inner %}
    {% include namespace ~ 'layout/footer-end.twig' ignore missing %}
{% endblock %}

{% block body_end %}
    {% include namespace ~ 'layout/body-end.twig' ignore missing %}
{% endblock %}